# Telegram Bot Configuration
TELEGRAM_BOT_TOKEN="8996706478:AAF1Zch4EdY97w2DI66-Iz5sCN7GSxMlpgQ"
TELEGRAM_CHANNEL_USERNAME="@ChiDidamTest"
TELEGRAM_CHANNEL_ID="-1004410297520"

# AI Engine API Keys
GROQ_API_KEY="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"
GEMINI_API_KEY="MY_GEMINI_API_KEY"

# AI Model Selection
ACTIVE_AI_PROVIDER="groq" # 'groq' or 'gemini'
GROQ_MODEL="openai/gpt-oss-120b" # or 'openai/gpt-oss-20b', 'qwen/qwen3.8-27b'

# Automation Settings
AUTO_PUBLISH_ENABLED="true"
PUBLISH_INTERVAL_MINUTES="60"
DAILY_POST_LIMIT="15"

# Server & App URL
PORT=3000
APP_URL="MY_APP_URL"
